!!!
html(lang=en)
  head
    if blog.name
      title=blog.name
    else
      title No such blog.
    style.
      body {
        font-family:sans-serif;
      }
      h1 {
        font-family:serif;
      }
  body
    if blog.name
      h1: a(href=blog.url)=blog.name
    else
      h1 No such blog.

    if blog.name
      if blog.description
        h2=blog.description

      hr

      if typeof post === 'undefined'
        p There are no posts.
      else
        h3: a(href=post.url)=post.title
        h4='By: '
          a(href=post.author.url):=post.author.displayName
          =' // Published: '+post.published+' // Updated: '+post.updated
        
        !=post.content

        hr

        p(style='text-align:center;')='Copyright © '
          a(href=post.author.url):=post.author.displayName
          =' '+post.updated
